#chart_div {
border-radius:25px;

background-color:blue;
-moz-box-shadow:10px 10px 5px #888888;
box-shadow: 10px 10px 5px #888888;
background-color:#f6f4b7;
background-repeat:no-repeat;


margin-top:11em;
}
h2{
margin-left:10em;
margin-top:3em;
}
body{
background-image:url(Ongeza1.jpg);
color:white;
}
#logo {

margin-left:5em;


}
